<div class="wrap-login">
	<form action="/login" class="custom-form-login" method="post">
		<div>
			{{#if error}}
			<p class="err-msg">Tài khoản hoặc mật khẩu không đúng</p>
			{{/if }}
			<h1>Đăng nhập</h1>
		</div>
		<div class="form-group">
			<label>Tài khoản: </label>
			<input 
				type="text" 
				name="username" 
				id="username" 
				placeholder="Nhập tên tài khoản" 
				required />
		</div>
		<div class="form-group">
			<label>Mật khẩu:</label>
			<input 
				type="password" 
				name="password" 
				id="password"
				placeholder="Nhập mật khẩu" 
				required />
		</div>
		<div>
			<input type="submit" value="Đăng nhập" />
		</div>
	</form>
</div>